<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self-Serving Kiosk</title>
</head>
<body>
    <header></header>

    <aside>
        <h1>Customize Drink - Chard Shore</h1>

        <div>
            <h1>Sugar Amount</h1>
            <button>0%</button>
            <button>25%</button>
            <button>50%</button>
            <button>75%</button>
            <button>100%</button>
        </div>
        
        <div>
            <h1>Ice Amount</h1>
            <button>None</button>
            <button>Less</button>
            <button>Normal</button>
            <button>Extra</button>
        </div>

        <div>
            <h1>Current Addons</h1>
            <ul>
                <li>Grass Jelly</li>
            </ul>
        </div>
        
    </aside>

    <div>
        <div class="addon_customizer">
            <p>Placeholder</p>
            <select>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
    </div>

    <footer>
        <button>Cancel</button>
        <button>Confirm</button>
    </footer>

        
    
</body>
</html>