<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self-Serving Kiosk</title>
</head>
<body>
    <header>
        Order #144 Confirmed
    </header>

    <div>
        <article class="order_item">
            <h2>Chard Shore</h2>

                <ul>
                    <li>Sugar: 75%</li>

                    <li>Ice: Extra</li>

                    <li>Addons: extra boba, eye of newt</li>
                </ul>
        </article>

        <article class="order_item">
            <h2>Chard Shore</h2>

                <ul>
                    <li>Sugar: 100%</li>

                    <li>Ice: None</li>

                    <li>Addons: none</li>
                </ul>
        </article>
    </div>

    <footer>
        <button><a href="/cashier">Finish</a></button>
    </footer>
</body>
</html>