<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self-Serving Kiosk</title>
</head>
<body>
    <header>
        Checkout
    </header>
    <div>
        <article class="order_item">
            <h1>Chard Shore</h1>

                <ul>
                    <li>Sugar: 75%</li>

                    <li>Ice: Extra</li>

                    <li>Addons: extra boba, eye of newt</li>
                </ul>
        </article>

        <article class="order_item">
            <h1>Chard Shore</h1>

                <ul>
                    <li>Sugar: 100%</li>

                    <li>Ice: None</li>

                    <li>Addons: none</li>
                </ul>
        </article>
    </div>
    
    <footer>
        <button> <a href="/cashier">Cancel Order</a> </button>
        <button><a href="/cashierconfirm">Confirm</a></button>
    </footer>
</body>
</html>