<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
<button onclick="window.location.href='/login'">
  Cashier Login
</button>

<button onclick="window.location.href='/login'">
  Manager Login
</button>

<button onclick="window.location.href='/kiosk'">
  User Page
</button>
</body>