<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier Interface</title>
    <style>
        body {
            background: #f1f1f1;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;

        }
        .layout {
            display: flex;
            min-height: 100vh;
        }

        .order-display {
            width: 25vw;
            background: #a2a2a2;
            border-right: 1px solid rgb(0, 1, 67);
            padding: 20px;
        }

        .order-item {
            border-radius: 10px;
            background-color: #e7e6e6;
            padding: 10px;
            margin-bottom: 20px;
            list-style: none;
        }

        .order-item h2 {
            margin-top: 10px;
        }

        .order-item ul {
            list-style: none;
        }

        .order-item-buttons {
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
        }

        .remove-item-button {
            height: 30px;
            background: #f1f1f1;
            border-radius: 15px;
        }
        
        .remove-item-button:hover{
            background: #d0d0d0;
        }

        .modify-item-button {
            background: #6e6e6e;
            border-radius: 15px;
        }

        .modify-item-button:hover {
            background: #959595;
        }

        .modify-item-button a {
            text-decoration: none;
            color: white;
        }

        .checkout-button {
            height: 50px;
            width: 100px;
            border-radius: 50px;
            background: rgb(62, 62, 113);
            color: white;
        }

        .checkout-button:hover {
            background: rgb(114, 122, 154);
        }

        .checkout-button a {
            color: white;
            text-decoration: none;
        }

        .cancel-order-button {
            height: 50px;
            width: 100px;
            border-radius: 50px;
            background: rgb(238, 238, 238);
            color: rgb(58, 58, 58);
        }

        .cancel-order-button:hover {
            background: rgb(203, 203, 203);
        }

        

        main {
            padding: 20px;
            width: 75vw;
        }

        .category-select {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .category-button {
            width: 150px;
            height: 50px;
            border-radius: 50px;
            text-align: center;
            background: rgb(58, 68, 116);
            color: white;
        }

        .category-button:hover {
            background: white;
            color: black;
        }

        .add-drinks-menu {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            padding: 20px;
        }

        .customize-new-item-button {
            margin: 10px;
            height: 40px;
            background: rgb(194, 194, 194);
            border-radius: 10px;
            text-align: left;
        }

        .customize-new-item-button:hover {
            background: rgb(224, 224, 224);
        }

        .customize-new-item-button a {
            text-decoration: none;
            color: black;
        }


        
        table { border-collapse: collapse; width: 50%; margin: 16px auto; }
        th, td { border: 1px solid #aaa; padding: 8px; text-align: left; }
        th { background: #eee; }
    </style>
</head>
<body>

    <div class="layout">
    <aside class="order-display">
        <h1>Current Order</h1>

        <article class="order-item">
            <h2>Chard Shore</h2>

            
            <p>$5.00</p>

            <p>Sugar: 50%</p>

            <p>Ice: extra</p>

            <p>Addons: grass jelly</p>
            

            <div class="order-item-buttons">
            <button class="modify-item-button"><a href="/cashier/customize">Modify</a></button>
            <button class="remove-item-button">Remove</button>
            </div>
        </article>

        <article class="order-item">
            <h2>Chard Shore</h2>

            <p>$5.00</p>

            <p>Sugar: 50%</p>

            <p>Ice: extra</p>

            <p>Addons: grass jelly</p>

            <div class="order-item-buttons">
            <button class="modify-item-button"><a href="/cashier/customize">Modify</a></button>
            <button class="remove-item-button">Remove</button>
            </div>
        </article>

        <article class="order-item">
            <h2>Chard Shore</h2>

            <p>$5.00</p>

            <p>Sugar: 50%</p>

            <p>Ice: extra</p>

            <p>Addons: grass jelly</p>

            <div class="order-item-buttons">
            <button class="modify-item-button"><a href="/cashier/customize">Modify</a></button>
            <button class="remove-item-button">Remove</button>
            </div>
        </article>

        <button class="cancel-order-button">Cancel Order</button>
        <button class="checkout-button"><a href="/cashier/checkout">Checkout</a></button>
    </aside>
    
    <main>
        <header>
            <h1>Cashier POS Interface</h1>
        </header>
        
        <nav class="category-select">
            <button class="category-button">Milk Teas</button>
            <button class="category-button">Matchas</button>
            <button class="category-button">Seafood</button>
            <button class="category-button">Milk</button>
            <button class="category-button">Seasonal</button>
        </nav>
        
        

        <div class="add-drinks-menu">
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
            <button class="customize-new-item-button"><a href="/cashier/customize">Placeholder Drink</a></button>
        </div>
    </main>
    </div>

</body>
</html>