<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize Drink</title>
    <style>
        body {
            background: #f1f1f1;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;

        }

        header {
            background: #a2a2a2;
            height: 3vh;
            text-align: center;
            width: 100vw;
            margin: 0;
            padding: 25px;
            border-bottom: 2px solid black;
        }

        header h1 {
            margin: 0;
            padding: 0;
        }

        .centeredlayout {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .layout {
            display: flex;
            min-height: 75vh;
            flex-direction: column;
        }

        .panel {
            background: #eee;
            flex-grow: 1;
            width: 60vw;
            border: 2px solid black;
            border-radius: 50px; 
            padding: 50px;
            text-align: center;
            margin: 50px 50px 0px 50px;
        }

        .sugar-amount-button, .sugar-amount-button-active {
            height: 50px;
            width: 100px;
            background: #a2a2a2;
            border-radius: 50px;
            margin: 10px;
        }

        .sugar-amount-button:hover, .sugar-amount-button-active {
            background: #f1f1f1;
        }

        .ice-amount-button, .ice-amount-button-active {
            height: 50px;
            width: 100px;
            background: #a2a2a2;
            border-radius: 50px;
            margin: 10px;
        }

        .ice-amount-button:hover, .ice-amount-button-active{
            background: #f1f1f1;
        }

        .addon-panel {
            background: #eee;
            flex-grow: 4;
            width: 60vw;
            border: 2px solid black;
            border-radius: 50px; 
            text-align: center;
            padding: 50px;
            margin: 50px;
        }

        .addon-customizer {
            display: flex;
            border: 2px solid black;
            border-radius: 10px;
            background: #a2a2a2;
            padding: 10px;
            margin: 10px;
            justify-content: right;
        }

        .addon-customizer select {
            margin-left: 5px;
            background: #d6d6d6;
        }

        .button-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        .addon-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            
        }

        .bottom-buttons {
            margin: 50px;
            margin-top: 0px;
            display: flex;
            flex-direction: row-reverse;
        }

        .bottom-buttons a {
            text-decoration: none;
            font-size: large;
            color: white;
        }

        .confirm-button {
            height: 75px;
            background: #585a65;
            width: 150px;
            border-radius: 100px;
            margin-left: 20px;
        }

        .confirm-button:hover {
            background: #7b7e8c;
        }

        .cancel-button {
            height: 75px;
            background: #c9c9c9;
            width: 150px;
            border-radius: 100px;
        }

        .cancel-button:hover {
            background: #e0e0e0;
        }

        .cancel-button a {
            color: black;
        }



        
    </style>
</head>
<body>
    <header> <h1 id="page-header">Customize Drink</h1></header>

    
    <div class="centeredlayout">
    <div class="layout">
        <div class="panel">
            <h2>Sugar Amount</h2>

            <div class="button-row">
            <button class="sugar-amount-button" id="sugar-button-0" onclick="setSugarAmount(0, 'sugar-button-0')">0%</button>
            <button class="sugar-amount-button" id="sugar-button-25" onclick="setSugarAmount(25, 'sugar-button-25')">25%</button>
            <button class="sugar-amount-button-active" id="sugar-button-50" onclick="setSugarAmount(50, 'sugar-button-50')">50%</button>
            <button class="sugar-amount-button" id="sugar-button-75" onclick="setSugarAmount(75, 'sugar-button-75')">75%</button>
            <button class="sugar-amount-button" id="sugar-button-100" onclick="setSugarAmount(100, 'sugar-button-100')">100%</button>
            </div>
        </div>
        
        <div class="panel">
            <h2>Ice Amount</h2>
            <div class="button-row">
            <button class="ice-amount-button" id="ice-button-none" onclick="setIceAmount(0, 'ice-button-none')">None</button>
            <button class="ice-amount-button" id="ice-button-less" onclick="setIceAmount(30, 'ice-button-less')">Less</button>
            <button class="ice-amount-button-active" id="ice-button-normal" onclick="setIceAmount(60, 'ice-button-normal')">Normal</button>
            <button class="ice-amount-button" id="ice-button-extra" onclick="setIceAmount(90, 'ice-button-extra')">Extra</button>
            </div>
        </div>

        <div class="addon-panel">
            <h2>Addons</h2>
            <div class="addon-grid" id="addon-grid">
            <div class="addon-customizer">
                <p>Placeholder</p>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>

            

            </div>
        </div>

        <div class="bottom-buttons">
            <button class="confirm-button"><a href="/cashier/menu" onclick="submitModification()">Update</a></button>
            <button class="cancel-button"><a href="/cashier/menu">Cancel</a></button>
        </div>
    </div>
    </div>


    <script>
        let sugarAmount = 50;
        let iceAmount = 60;

        const addonGrid = document.getElementById('addon-grid');
        const pageHeader = document.getElementById('page-header');



        const addons = <%- JSON.stringify(addons) %>;
        const menuItemId = <%- JSON.stringify(menuItemId) %>;
        const price = <%- JSON.stringify(selectedItem) %>;
        const drinkid = <%- JSON.stringify(drinkId) %>;



        const addonCustomizers = [];

        const iceAmountButtons = [
            document.getElementById("ice-button-none"),
            document.getElementById("ice-button-less"),
            document.getElementById("ice-button-normal"),
            document.getElementById("ice-button-extra")
        ];

        const sugarAmountButtons = [
            document.getElementById("sugar-button-0"),
            document.getElementById("sugar-button-25"),
            document.getElementById("sugar-button-50"),
            document.getElementById("sugar-button-75"),
            document.getElementById("sugar-button-100")
        ];

        function setSugarAmount(newAmount, source) {
            const sourceButton = document.getElementById(source);
            sugarAmount = newAmount;
            sugarAmountButtons.forEach(button => {
                button.className='sugar-amount-button';
            });
            sourceButton.className = 'sugar-amount-button-active';
        }

        function setIceAmount(newAmount, source) {
            const sourceButton = document.getElementById(source);
            iceAmount = newAmount;
            iceAmountButtons.forEach(button => {
                button.className='ice-amount-button';
            });
            sourceButton.className = 'ice-amount-button-active';
        }

        console.log("HELLO");

        function renderAddons() {
            addonGrid.innerHTML = '';

            addons.forEach((addon) => {
                const customizer = document.createElement('customizer');
                customizer.className = 'addon-customizer';
                customizer.innerHTML = `<p>${addon.name}</p>`;                
                
                const selector = document.createElement('select');
                selector.type = 'select';
                selector.innerHTML = `
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>`;

                customizer.appendChild(selector);


                const obj = {
                    customizer: customizer,
                    data: {
                        name: addon.name,
                        id: addon.id,
                        select: selector
                    }
                };

                addonCustomizers.push(obj);
                addonGrid.appendChild(customizer);
            });
        }

        renderAddons();
        console.log("HI1");
        
        function getAddonQuantities() {
            idsToQuants = [];
            
            addonCustomizers.forEach((item) => {
                let curCustomizer = item.customizer;
                let id = item.data.id;
                let quant = item.data.select.value;
                const obj = {
                    id: id,
                    quantity: quant
                };
                idsToQuants.push(obj);
            });

            return idsToQuants;
        }

        console.log("HI");

        async function submitModification() {
            console.log("in submitModification");
            
            try {
                const response = await fetch("/cashier/modify/update-in-cart", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        drinkId: drinkid,
                        menuItemId: menuItemId,
                        iceAmount: iceAmount,
                        sugarAmount: sugarAmount,
                        specialNotes: '',
                        basePrice: price,
                        idsToQuants: getAddonQuantities()
                    })
                });

                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                const result = await response.json();
                console.log("Response: ", result);
        

            } catch (error) {
                console.error(error.message);
            }

        }

        console.log("GOODBYE");


        
        
            
        

        

    </script>
        
    
</body>
</html>